*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #A26FE3;
}
.container{
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction:column;
    gap: 50px;
    margin-top: 1.5rem;
}
.heading{
    padding: 2rem;
    display: flex;
    background: rgb(223, 223, 137);
    font-size: 1rem;
    border-radius: 15px;
    padding-top: 1.5rem;
}
.heading h1{
    align-content: center;
}
.btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 5px 5px 0px 0px black;
    transition: background-color 0.3s, transform 0.2s;
}
.btn:hover {
    background-color: #45a049;
    transform: scale(0.9);
}

.container1{
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(135deg,#153667,#4e085f);
    padding: 10px;
    display: none;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 20px auto 10px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0 ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    gap: 5px;
}
input{
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    border: 2px solid black;
    border-radius: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 40px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius:40px ;
}
ul li{
    height:3.0rem;
   background:#edeef0 ;
   list-style: none;
   font-size: 17px;
   padding: 12px 8px 12px 50px;
   user-select: none;
   cursor: pointer;
   position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(./images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li .start-btn{
    position: absolute;
    right: 150px;
    top: 5px;
    height: 40px;
    font-size: 0.9rem;
    margin-right: 20px;
    padding-bottom: 10px;
    align-content: center;
    transition:  transform 0.2s;
}
ul li .cross-btn{
    position: absolute;
    right: 50px;
    font-size: 2rem;
}
ul li .start-btn:hover{
    background: #45a049;
    transform: scale(0.9);
}
ul li .skip-btn{
    position: absolute;
    left:10rem;
    top: 5px;
    height: 40px;
    font-size: 0.9rem;
    transition:  transform 0.2s;
}
ul li .skip-btn:hover{
    background: #45a049;
    transform: scale(0.9);
}